@use "./assets/styles/loginView.scss";
@use "./assets/styles/customTabs.scss";

@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

.App {
	text-align: center;
	font-family: 'Sarabun', sans-serif;
	height: 100vh;
}

.bg-color-primary {
	background-color: #7982e9;
}

.bg-suggest-action {
	background-color: #faf86c;
}