.tabs-wrp {
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
	z-index: 1000;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    .nav-item {
		height: 50px;
	}

    .nav-link {
        height: 50px;
    }
}

.tab-content-wrp {
    margin-top: 45px; 
    height: calc(100vh - 45px);
    overflow-y: auto; 
} 

